.btn {
    width: 152px;
    height: 42px;
  
    position: relative;
  
    font-family: $ff-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
  
    cursor: pointer;
  }
  
  .btn-empty{
    border: 2px solid $clr-accent;
    border-radius: 10px;
    background: none;
    transition: border-color 250ms cubic-bezier(1, -0.14, 1, 1.29), color 250ms cubic-bezier(1, -.14, 1, 1.29);
    &:active{
        border-color: $clr-button-hover;
        color: $clr-text-light;}
  
    &:disabled{
      border-color: $clr-work-hrs;}
  
    @include desktop {
         &:hover{
        border-color: $clr-button-hover;}
         &:focus{
      color: $clr-text-light; 
      border-color: $clr-button-hover;}}
  }
  
  .btn-filled{
    border-color: transparent;
    border-radius: 10px;
    background: $clr-accent;
    transition:  background-color 250ms cubic-bezier(1, -0.14, 1, 1.29), 
                 color 250ms cubic-bezier(1, -.14, 1, 1.29);
   
    &:active{
        background-color:$clr-button-hover;
        color: $clr-text-light;}
  
    &:disabled{ background-color:$clr-work-hrs;}
  
    @include desktop{
      &:hover{background-color:$clr-button-hover;} 
      &:focus{ background-color:$clr-button-hover; color: $clr-text-light;}}
  }


.btn-words{
    border: none;
    background: none;
    transition: color 250ms cubic-bezier(1, -0.14, 1, 1.29);
    color: $clr-accent;

    &:active{ color: $clr-button-hover; }

    &:disabled{ color: $clr-work-hrs;}

    @include desktop{
         &:hover{ color: $clr-button-hover; } 
        &:focus{ color: $clr-text-light; }
    } 
}

.socials-icons{
    width: 34px;
    height: 34px;
    border-radius: 10px;

    fill: $clr-background;
    background-color: $clr-accent;
    transition: fill 250ms cubic-bezier(1, -0.14, 1, 1.29);

    &:hover,&:focus{
        fill: $clr-text-light;
    }

}


// ______________________________________WORKING ON BUTTON_____________________________________________________________


.btn-rounded {
    border-radius: 50px;
    border: 2px solid #F8D24E;
    
}

.btn-rounded::before {
    transition: all 800ms cubic-bezier(1, -0.14, 1, 1.29);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 0%;
    background-image: url(../images.jpg), linear-gradient(rgb(10, 136, 23, 0.3),rgb(10, 136, 23, 0.3));
    background-position: bottom;
    
    
    
}
.btn-rounded:hover{
    border:none;
}

// .text-green {
//     color: black;
//     transition: color 800ms cubic-bezier(1,.12,.83,1.15);
   
// }

.btn.btn-rounded:hover .text-green{
    color: rgb(9, 11, 12);
}
.btn.btn-rounded:hover::before {
    background-image: url(../images.jpg), linear-gradient(rgb(10, 136, 23, 0.3),rgb(10, 136, 23, 0.3));
    background-position: bottom;
    width: 100%;
    box-shadow: inset 2px 2px 2px #076511,
    inset -2px -2px 3px #0dab1d;
    border: none;
}

.btn.btn-rounded:active::before {
    background: #0A8817;
    width: 100%;
    box-shadow: inset 5px 5px 8px #076511,
    inset -5px -5px 8px #0dab1d;
    border: none;
    border: none;
}


/* __________________________button buy-now______________________________ */
/* Бажання замудрити на це (https://codepen.io/dsyncerek/pen/zzqpEx) */
    



