@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $clr-background;
  color: $clr-text-dark;
  font-family: $ff-primary;
}

.no-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
}
