.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
    padding: 0 32px;
  }
  @include desktop {
    max-width: 1200px;
    padding: 0 16px;
  }
}
