@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #84a178;
  color: #131313;
  font-family: "Montserrat", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.section {
  padding: 60px 0;
}
.section__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.25;
  }
}

.footer__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.footer__thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 1167px;
  left: 0;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 1200px) {
  .footer__thumb::before {
    left: 16.5px;
  }
}

.footer__primary-text {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__primary-text {
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__primary-text {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.footer__secondary-text {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2058823529;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__secondary-text {
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__secondary-text {
    font-size: 58px;
    line-height: 1.224137931;
  }
}

.footer__title {
  max-width: 234px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    max-width: 352px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    max-width: 100%;
    margin-bottom: 60px;
  }
}

.footer__social-media {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__social-media {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-media {
    max-width: 100%;
  }
}

.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__tel {
  color: #fcfcfc;
}

.footer__copiright {
  padding: 20px 0;
  white-space: pre-line;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer__copiright {
    padding: 12px 0;
    white-space: normal;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copiright {
    font-size: 12px;
  }
}

.social-list {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .social-list {
    gap: 30px;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 40px;
  }
}

.social-list__item {
  width: 34px;
  height: 34px;
  background-color: #f8d24e;
  border-radius: 50%;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #84a178;
}

.social-list__img {
  fill: currentColor;
}/*# sourceMappingURL=index.css.map */