// Pallet
// Background color: #84A178
// Accent color: #F8D24E
// Accent color semitransparent: #F8D24EB2
// Dark text color: #131313
// Light text color: #FCFCFC
// Reviews pagination inactive color: #D9D9D9
// Footer copiright color: #7A7A7A
// Footer border color: #E1E1E1
// Tablet menu background: #97AF8D

// Modal windows:
// Border: same as Accent #F8D24E
// Input field borders: same as Background #84A178
// Input field background: #F8D24E1A
// Nutritional values: #9CBE8F
// Close window button color: same as Dark text color #131313

// Buttons:
// Default background color: same as Accent #F8D24E
// Hover and focus background color: #0A8817
// Disabled background color: #ABABAB

// Products:
// Ice Cream card color: #AEC6A5
// Ice Cream card semitransparent color: #9CBE8FB2
// Ice Coffee card color: #EFD478
// Ice Coffee card semitransparent color: same as Accent semitransparent #F8D24EB2
// Milkshake card color: #D6936D
// Milkshake card semitransparent color: #D5753FB2

// Contacts section:
// Work hours color: #ABABAB
// Location address color: same as Milkshake card color #D6936D

// Fonts:
// Font-family primary: Montserrat, sans-serif
// Font-family secondary: Seymour One, sans-serif

$clr-background: #84a178;
$clr-accent: #f8d24e;
$clr-accent-st: #f8d24eb2;
$clr-text-dark: #131313;
$clr-text-light: #fcfcfc;
$clr-pagination-inactive: #d9d9d9;
$clr-footer-copiright: #7a7a7a;
$clr-footer-border: #e1e1e1;
$clr-tablet-menu-bg: #97af8d;
$clr-input-window-bg: #f8d24e1a;
$clr-modal-nutrition: #9cbe8f;
$clr-button-hover: #0a8817;
$clr-button-disabled: #ababab;
$clr-prod-ice-cream: #aec6a5;
$clr-prod-ice-cream-st: #9cbe8fb2;
$clr-prod-ice-coffee: #efd478;
$clr-prod-milkshake: #d6936d;
$clr-prod-milkshake-st: #d5753fb2;
$clr-work-hrs: #ababab;

$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Seymour One', sans-serif;
