<section class="about section" id="about-section">
    <div class="container">
        <p class="about__subtitle">tradition and love</p>
        <h2 class="about__title section__title">how it’s made?</h2>
        <div class="about__wrap">
            <div data-aos="fade-right" data-aos-duration="700" class="about__img-wrap"></div>
            <div class="about__text-wrap">
                <ul class="about__text-list">
                    <li data-aos="fade-left" data-aos-duration="1000" class="about__item">
                        <p class="about__text first-text">Ice is a place where you will become not only a little
                            happier, but also healthier. Health is the
                            main value for us, and
                            we follow it when creating our handmade desserts.</p>
                    </li>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="150" class="about__item">
                        <p class="about__text second-text">
                            We use traditional recipes and 100% natural ingredients. Our
                            products are so natural that they can be given to children
                            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of
                            coffee and 23 milkshakes.
                        </p>
                    </li>
                    <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="250" class="about__item">
                        <p class="about__text third-text">
                            This is enough to choose ice cream and
                            coffee for any mood!
                        </p>
                    </li>
                </ul>
                <button data-aos="fade-left" data-aos-duration="1000" data-aos-delay="150" type="button" class="about__btn btn btn-filled" data-modal-read-more-open>
                    Read more
                    <svg width="12" height="12" class="btn-icon">
                        <use href="./images/icons.svg#icon-icon-small-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>