<section class="advantages" id="advantages">
    <div class="container advantages__container">
        <h2 class="visually-hidden">advantages</h2>

        <ul class="advantages__list list">
            <li class="advantages__item">

                <!-- div for before -->
                <div class="advantages__icon cow"></div>
                <p class="advantages__point">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>



            </li>

            <li class="advantages__item">
                <div class="advantages__icon weight"></div>
                <p class="advantages__point">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>

            <li class="advantages__item">
                <div class="advantages__icon ice-cream"></div>
                <p class="advantages__point">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>


            </li>
        </ul>

    </div>
</section>