<section class="advantages section" id="advantages">
    <div class="container advantages__container">
        <h2 class="visually-hidden">advantages</h2>

        <ul class="advantages__list list">
            <li class="advantages__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">

                <div class="advantages__icon cow"></div>
                <p class="advantages__point" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">721</p>
                <p class="advantages__text">What would you say if we told you we could make all of your wishes come
                    true?</p>

            </li>

            <li class="advantages__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <div class="advantages__icon weight"></div>
                <p class="advantages__point" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">16kg</p>
                <p class="advantages__text">It doesn’t matter if you want chocolate or vanilla, there’s something here
                    for everyone.</p>

            </li>

            <li class="advantages__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <div class="advantages__icon ice-cream"></div>
                <p class="advantages__point" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">84</p>
                <p class="advantages__text">Ice cream is our passion! We love making it and we hope you love eating it!
                </p>


            </li>
        </ul>

    </div>
</section>