<footer>
    <div class="container">
        <div class="footer__title">
            <p class="footer__primary-text">homemade ice cream made</p>
            <p class="footer__secondary-text">with passion</p>
        </div>
        <div class="footer__social-media">
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <svg class="social-list__img" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <svg class="social-list__img" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <svg class="social-list__img" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">Feel free to contact <a class="footer_tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </p>   
        </div>
        <p class="footer__copiright">© 2022 - IceCream.<br>All Rights Reserved.</p>
    </div>
</footer>