<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrap">
            <div class="footer__title">
                <p class="footer__primary-text">homemade ice cream made</p>
                <p class="footer__secondary-text">with passion</p>
            </div>
            <div class="footer__social-media">
                <ul data-aos="fade-up" data-aos-duration="1000" class="social-list">
                    <li class="social-list__item">
                        <a href="https://github.com" rel="noreferrer noopener nofollow" target="_blank"
                            class="social-list__link">
                            <svg class="social-list__img socials-icons" width="20" height="20">
                                <use href="./images/icons.svg#icon-icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item ">
                        <a href="https://web.telegram.org" rel="noreferrer noopener nofollow" target="_blank"
                            class="social-list__link">
                            <svg class="social-list__img socials-icons" width="20" height="20">
                                <use href="./images/icons.svg#icon-icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://www.facebook.com" rel="noreferrer noopener nofollow" target="_blank"
                            class="social-list__link">
                            <svg class="social-list__img socials-icons" width="20" height="20">
                                <use href="./images/icons.svg#icon-icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__contact">Feel free to contact <a class="footer__tel" href="tel:+610383766284">+61 (0)
                        383 766 284</a>
                </p>
            </div>
        </div>
        <div class="footer__thumb">
            <p class="footer__copiright">© 2022 - IceCream.
                All Rights Reserved.</p>
        </div>
    </div>
</footer>