
<div class="slider-wrap">
    <div class="slider">
        <img class="gallery__slider" src="./images/gallery-desktop-2x.png">
        <img class="gallery__slider" src="./images/2-gallery-desktop-1x.jpg">
        <img class="gallery__slider" src="./images/3-gallery-desktop-1x.jpg">
        <img class="gallery__slider" src="./images/gallery-desktop-2x.png">
        <img class="gallery__slider" src="./images/2-gallery-desktop-1x.jpg">
        <img class="gallery__slider" src="./images/3-gallery-desktop-1x.jpg">
    </div>
</div>