<header class="header">
	<div class="header__container container">
		<a href="./index.html" class="logo link">
			<picture class="logo__image">
				<source srcset="./images/logo-desktop.png 1x, ./images/logo-desktop-2x.png 2x" media="(min-width: 1200px)">
				<source srcset="./images/logo-tablet.png 1x, ./images/logo-tablet-2x.png 2x" media="(min-width: 768px)">
				<source srcset="./images/logo-mobile.png 1x, ./images/logo-mobile-2x.png 2x" media="(max-width: 767px)">
				<img src="./images/logo-desktop.png" alt="ice cream logo">
			</picture>
		</a>
		<nav class="navigation">
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">How it’s made?</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Our products</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
			</ul>
			<button type="button" class="header__menu-button">
				<svg>
					<use></use>
					<use></use>
				</svg>
			</button>
			<button type="button" class="header__button">Buy now</button>
		</nav>
	</div>
</header>