<section class="hero section">
    <div class="hero__container container">
        <h1 class="hero__title section__title">ice cream made with <span class="hero__title-partial">passion</span></h1>
        <div class="hero__btn-wrapper">
            <a href="#products" class="hero__prod-btn btn-empty">Products</a>
            <a href="#about-section" class="hero__him-btn btn-words">How it’s made?</a>
        </div>
        <picture>
            <source srcset="./images/hero-cone-desktop.png 1x, ./images/hero-cone-desktop-2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero-cone-tablet.png 1x, ./images/hero-cone-tablet-2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/hero-cone-mobile.png 1x, ./images/hero-cone-mobile-2x.png 2x"
                media="(max-width: 767px)">
            <img src="./images/hero-cone-desktop-2x.png" alt="ice cream cone" width="456" class="hero__main-img">
        </picture>
        <div class="hero__sub-info-wrapper">
            <picture data-aos="fade-down" data-aos-duration="1000">
                <source srcset="./images/hero-plate-desktop.png 1x, ./images/hero-plate-desktop-2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero-plate-tablet.png 1x, ./images/hero-plate-tablet-2x.png 2x"
                    media="(min-width: 768px)">
                <img src="./images/hero-plate-desktop.png" alt="plate with ice cream balls" width="225"
                    class="hero__sub-img">
            </picture>
            <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="150" class="hero__sub-text-wrapper">
                <p class="hero__text">This is real ice cream, as it should be: without preservatives, harmful additives,
                    vegetable fats, artificial dyes
                    and flavors.</p>
                <a href="#advantages" class="hero__sub-btn">
                    <svg width="40" height="16" class="hero__sub-btn-icon">
                        <use href="./images/icons.svg#icon-icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <ul class="stat__list">
            <li class="stat__item"><span class="stat__value">16</span><span class="stat">cafes</span></li>
            <li class="stat__item"><span class="stat__value">23</span><span class="stat">food trucks</span></li>
        </ul>
    </div>
</section>