<section class="hero section">
    <div class="hero__container container">
        <h1 class="hero__title section__title">ice cream made with passion</h1>
        <button class="hero__btn btn-empty">Products</button>
        <button class="hero__btn">How it’s made?</button>
        <picture class="hero__main-image">
            <source srcset="./images/hero-cone-desktop.png 1x, ./images/hero-cone-desktop-2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero-cone-tablet.png 1x, ./images/hero-cone-tablet-2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/hero-cone-mobile.png 1x, ./images/hero-cone-mobile-2x.png 2x"
                media="(max-width: 767px)">
            <img src="./images/hero-cone-desktop-2x.png" alt="ice cream cone" width="456">
        </picture>
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>
        <button>
            <svg width="40" height="16" class="hero__sub-btn">
                <use href="./images/icons.svg#icon-icon-arrow"></use>
            </svg>
        </button>
        <picture class="hero__sub-image">
            <source srcset="./images/hero-plate-desktop.jpg 1x, ./images/hero-plate-desktop-2x.jpg 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero-plate-tablet.jpg 1x, ./images/hero-plate-tablet-2x.jpg 2x"
                media="(min-width: 768px)">
            <img src="./images/hero-plate-desktop.jpg" alt="plate with ice cream balls" width="225">
        </picture>
        <ul class="stat__list">
            <li class="stat__item"><span class="stat__value">16</span><span class="stat">cafes</span></li>
            <li class="stat__item"><span class="stat__value">23</span><span class="stat">food trucks</span></li>
        </ul>
    </div>
</section>