<div class="modal-wrap is-hidden" data-modal>

    <div class="modal">
        <div class="made__title">
      <img class="made__poster" src="./img/How it’s made_.jpg" alt="How it's made" height="28px" width="322px ">
    </div>
      <button data-modal-close type="button" class="modal__close" > 
        <svg class="modal__cross" width="11.11" height="11.14">
        <use xlink:href="./img/sprite.svg#icon-icon-cross"></use>
      </svg>
    </button> 
    

      <form action="#" class="form-conteiner">
        <div >
          <iframe class="video" width="224" height="199"
           src="https://www.youtube.com/embed/JM9VFGXXoVg"
            title="YouTube video player" frameborder="0"
             allow="accelerometer; autoplay; clipboard-write;
               encrypted-media; gyroscope; picture-in-picture"
               allowfullscreen></iframe>
        </div>
          <div class="form-row__test">
            <p class="modal__discription">
                Якби ж ви тільки чули цей аромат!
                Ми беремо сонячне манго або спокусливу полуницю ,поєднуємо
                разом із фермерськими вершками і створюємо морозиво
                ніжне як хмари з виразний смаком веселки.
                Ви й не помітите, як швидко доїсте.
            </p>
           
          </div>
        </div>
      </form>
    </div>
  </div>