<div class="backdrop-franchase is-hidden" data-mod-fra>
  <div class="modal-franchise">
    <button class="button-modal-fra-close" type="button" data-mod-fra-close>
      <svg class="modal-fra-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-icon-close"></use>
      </svg>
    </button>
    <p class="modal-fra-title">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="modal-fra-text">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for further information.
      Please fill out the contact information below and we will reach out for additional information. We appreciate your
      patience.
    </p>
    <form class="modal-form" autocomplete="off">
      <div class="modal-form__inputs">
        <div class="input-wrapper">
          <input type="text" name="user-name" class="modal-input" placeholder="." id="user-name" required minlength="1"
            pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}">
          <label class="modal-label" for="user-name">Name</label>
        </div>
        <div class="input-wrapper">
          <input type="tel" name="user-tel" class="modal-input" placeholder="." id="user-tel" required
            pattern="^[ 0-9]+$">
          <label class="modal-label" for="user-tel">Phone</label>
        </div>
        <div class="input-wrapper">
          <input type="email" name="user-email" class="modal-input" placeholder="." id="user-email" required>
          <label class="modal-label" for="user-email">Email</label>
        </div>
        <div class="input-wrapper">
          <textarea name="user-text" id="user-text" class="text-area" placeholder="."></textarea>
          <label class="modal-label" for="user-text">Comment</label>
        </div>
      </div>
      <button class="button-primary btn-filled" type="submit">Submit</button>
    </form>
  </div>
</div>