<div class="modal-wrap modal-read-more__backdrop--is-hidden" data-modal-read-more>
  <div class="modal">
    <h2 class="made__title">How it’s made?</h2>
    <button data-modal-read-more-close type="button" class="modal__close">
      <svg class="modal__cross" width="20" height="20">
        <use xlink:href="./images/icons.svg#icon-icon-close"></use>
      </svg>
    </button>
    <div>
      <iframe class="video" width="224" height="199" src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <p class="modal__discription">
      Various incredible fruits together with farmer's cream give a delicate slightly
      dense texture and a very distinct taste. You will not even notice how quickly you will eat it.
    </p>
  </div>
</div>