<div class="backdrop-about-product  modal-backdrop-about-product--is-hidden" data-modal-about-product>
    <div class="modal-about-product">
        <h2 class="about-product_title">Chololate icecream</h2>

        <div class="prod__image-box">
            <div class="prod__circle"></div>
            <img srcset="./images/about-prod.jpg 1x, ./images/about-prod-2x.jpg 2x" src="./images/about-prod.jpg"
                alt="ice cream" class="prod__image" width="132">
        </div>

        <div class="about-product_value">
            <ul class="value__list">
                <li class="value__item">
                    <p class="value__text">320</p><span class="value__name">kcal</span>
                </li>
                <li class="value__item">
                    <p class="value__text">4g</p><span class="value__name">Prote...</span>
                </li>
                <li class="value__item">
                    <p class="value__text">8,2g</p><span class="value__name">Fats</span>
                </li>
                <li class="value__item">
                    <p class="value__text">40,4g</p><span class="value__name">Carbs</span>
                </li>

            </ul>
        </div>
        <div class="ingredients">
            <h3 class="ingredients_title">Ingredients</h3>
            <ul class="ingredients_list">
                <li class="ingredients_item">
                    <p class="ingredients_text">Milk</p><span>100ml</span>
                </li>
                <li class="ingredients_item">
                    <p class="ingredients_text">Belgian chocolate</p><span>20g</span>
                </li>
                <li class="ingredients_item">
                    <p class="ingredients_text">Cream</p><span>150ml</span>
                </li>
                <li class="ingredients_item">
                    <p class="ingredients_text">Cocoa powder</p><span>30g</span>
                </li>
                <li class="ingredients_item">
                    <p class="ingredients_text">Sugar</p><span>40g</span>
                </li>
                <li class="ingredients_item">
                    <p class="ingredients_text">Vanilla sugar</p><span>10g</span>
                </li>
            </ul>

        </div>
        <form class="modal__form" autocomplete="off">
            <div class="about-product_form">


                <label class="about-product_form-field">

                    <input type="text" class="about-product__input" placeholder="  " required
                        pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}">
                    <span class="about-product__label">Name</span>
                </label>

                <label class="about-product_form-field">
                    <input type="tel" class="about-product__input" placeholder="  " required pattern="^[ 0-9]+$">
                    <span class="about-product__label">Phone</span>
                </label>




                <label class="about-product_form-field">
                    <textarea name="coment" class="about-product__textarea" placeholder="  "></textarea>
                    <span class="about-product__label">Comment</span>
                </label>




            </div>

            <button type="button" class="about-product__close" data-modal-about-product-close>
                <svg class="about-product__close-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-icon-close"></use>
                </svg>
            </button>

            <button type="submit" class="about-product__button">Submit</button>
        </form>
    </div>




</div>