<div class="backdrop is-hidden" mod-fra>
  <div class="modal">
    <button class="button-modal" type="button" mod-fra-close>
      <svg class="modal-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-text">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="modal-title">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
    <form class="modal-form">
  <div class="input-wrapper">
    <input type="name" name="user-name" class="modal-input" placeholder="Name" id="user-name" required>
      </div>
      <div class="input-wrapper">
    <input type="phone" name="user-tel" class="modal-input" placeholder="Phone" id="user-tel" required>
      </div>
  <div class="input-wrapper">
    <input type="email" name="user-email" class="modal-input" placeholder="Email" id="user-email" required>
      </div>
  <div class="input-wrapper">
    <!-- <input type="comment" name="user-tel" class="modal-text" placeholder="Comment" id="user-tel" required> -->
      <textarea name="user-text" id="user-text" class="text-area" placeholder="Comment"></textarea>
    <button class="button-primary" type="submit">Submit</button>
      </div>
  </div>
    </form>
  </div>
</div>