<div data-modal-buy-now class="modal-buy-now__backdrop modal-buy-now__backdrop--is-hidden">
    <div class="modal-buy-now__window">
        <button data-modal-buy-now-close type="button" class="modal-buy-now__button-clouse">
            <svg class="modal-buy-now__icon-clouse" width="20" height="20">
                <use href="./images/icons.svg#icon-icon-close"></use>
            </svg>
        </button>
        <p class="modal-buy-now__title">Buy now</p>
        <form class="modal-buy-now__form" action="#" autocomplete="off">
            <div class="modal-buy-now__radio-buttons">
                <div class="modal-buy-now__radio-button">
                    <label class="modal-buy-now__radio-button-label" for="ice-cream">
                        <input class="modal-buy-now__radio-button-input" type="checkbox" id="ice-cream">
                        <span class="modal-buy-now__radio-button-chekbox modal-buy-now__radio-button-chekbox--green">
                            <img class="modal-buy-now__radio-img"
                                srcset="./images/buy-ice-cream.jpg 1x, ./images/buy-ice-cream-2x.jpg 2x"
                                src="./images/buy-ice-cream.jpg" alt="">
                            <span class="bg-circle bg-circle--green"></span>
                            <p class="modal-buy-now__radio-button-title">ice cream</p>
                        </span>
                    </label>
                </div>
                <div class="modal-buy-now__radio-button">
                    <label class="modal-buy-now__radio-button-label" for="ice-coffee">
                        <input class="modal-buy-now__radio-button-input" type="checkbox" id="ice-coffee">
                        <span class="modal-buy-now__radio-button-chekbox modal-buy-now__radio-button-chekbox--yellow">
                            <img class="modal-buy-now__radio-img"
                                srcset="./images/buy-ice-coffee.jpg 1x, ./images/buy-ice-coffee-2x.jpg 2x"
                                src="./images/buy-ice-coffee.jpg" alt="">
                            <span class="bg-circle bg-circle--yellow"></span>
                            <p class="modal-buy-now__radio-button-title">ice coffee</p>
                        </span>
                    </label>
                </div>
                <div class="modal-buy-now__radio-button">
                    <label class="modal-buy-now__radio-button-label" for="milkshake">
                        <input class="modal-buy-now__radio-button-input" type="checkbox" id="milkshake">
                        <span class="modal-buy-now__radio-button-chekbox modal-buy-now__radio-button-chekbox--brown">
                            <img class="modal-buy-now__radio-img"
                                srcset="./images/buy-milkshake.jpg 1x, ./images/buy-milkshake-2x.jpg 2x"
                                src="./images/buy-milkshake.jpg" alt="">
                            <span class="bg-circle bg-circle--brown"></span>
                            <p class="modal-buy-now__radio-button-title">milkshake</p>
                        </span>
                    </label>
                </div>
            </div>
            <div class="modal-buy-now__input-list">
                <div class="modal-buy-now__input-field">
                    <input id="name" class="modal-buy-now__input" type="text" placeholder="." required minlength="1" pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}">
                    <label class="modal-buy-now__input-label" for="name">Name</label>
                </div>
                <div class="modal-buy-now__input-field">
                    <input id="phone" class="modal-buy-now__input" type="tel" placeholder="." required pattern="^[ 0-9]+$">
                    <label class="modal-buy-now__input-label" for="phone">Phone</label>
                </div>
                <div class="modal-buy-now__input-field">
                    <textarea id="comment" class="modal-buy-now__textarea" placeholder="."></textarea>
                    <label class="modal-buy-now__input-label" for="comment">Comment</label>
                </div>
            </div>
            <button class="modal-buy-now__submit-btn btn-filled" type="submit">Submit</button>
        </form>
    </div>
</div>
