<div class="modal-wrap is-hidden" data-modal>

    <div class="modal">
        <div class="made__title">
      <h2 class="made__poster">How it’s made?</h2> 
      </div>
      <button data-modal-close type="button" class="modal__close" > 
        <svg class="modal__cross" width="11.11" height="11.14">
        <use xlink:href="./images.svg#icon-icon-close"></use>
      </svg>
    </button> 
    

      <form action="#" class="form-conteiner">
        <div >
          <iframe class="video" width="224" height="199"
           src="https://www.youtube.com/embed/8WEMZ86Eho8" 
           title="YouTube video player" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </iframe>
        </div>
          <div class="form-row__test">
            <p class="modal__discription">
              We use traditional recipes and 100% natural 
              ingredients. Our products are so natural that
               they can be given to children from the age of
                three years. Sweets lovers can expect 55 types
                 of ice cream, 15 types of coffee and 23
                  milkshakes. 
            </p>

          </div>
        </div>
      </form>
    </div>
  </div>