<div class="backdrop-about-product">
<div class="modal-about-product">
<h2 class="about-product_title">Chololate icecream</h2>
<div class="about-product_value">
    <ul class="about-product_value-list">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
    </ul>
</div>

<div class="ingredients">
    <h3 class="ingredients_title">Ingredients</h3>
    <ul class="ingredients_list">
        <li class="ingredients_item"><p class="ingredients_text">Milk</p><span>100ml</span></li>
        <li class="ingredients_item"><p class="ingredients_text">Belgian chocolate</p><span>20g</span></li>
        <li class="ingredients_item"><p class="ingredients_text">Cream</p><span>150ml</span></li>
        <li class="ingredients_item"><p class="ingredients_text">Cocoa powder</p><span>30g</span></li>
        <li class="ingredients_item"><p class="ingredients_text">Sugar</p><span>40g</span></li>
        <li class="ingredients_item"><p class="ingredients_text">Vanilla sugar</p><span>10g</span></li>
    </ul>

</div> 

<div class="about-product_form">
    <div class="about-product_form-field">
        <input type="text" name="name" id="name" class="about-product__input">
        <label for="name" class="about-product__label">Name</label>
    
    </div>
    <div class="about-product_form-field">
        <input type="text" name="name" id="name" class="about-product__input">
        <label for="name" class="about-product__label">Phone</label>
    
    </div>

    <div class="about-product_form-field">
        <label for="coment" class="about-product__label">Comment</label>
        <textarea name="coment" id="coment"  class="about-product__textarea"></textarea>
    
    
    </div>
</div>
</div>


</div>