<div class="backdrop-about-product">
<div class="modal-about-product">
<h2 class="about-product_title">Chololate icecream</h2>
<div class="about-product_value">
    <ul class="about-product_value-list">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
    </ul>
</div>

<div class="about-product_ingredients">
    <h3 class="about-product_ingredients-title">Ingredients</h3>
    <ul class="about-product_ingredients-list">
        <li class="about-product_ingredients-item"><p>Milk</p><span>100ml</span></li>
        <li class="about-product_ingredients-item"><p>Belgian chocolate</p><span>20g</span></li>
        <li class="about-product_ingredients-item"><p>Cream</p><span>150ml</span></li>
        <li class="about-product_ingredients-item"><p>Cocoa powder</p><span>30g</span></li>
        <li class="about-product_ingredients-item"><p>Sugar</p><span>40g</span></li>
        <li class="about-product_ingredients-item"><p>Vanilla sugar</p><span>10g</span></li>
    </ul>

</div> 
</div>


</div>