.advantages__item {
    width: 230px;
    margin: 0 auto;
}

.advantages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #F8D24E;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;

    position: relative;
}

.advantages__icon::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    position: absolute;
}

.cow::before {
    background-image: url("../images/icon-cow.png");
}

.weight::before {
    background-image: url("../images/icon-weight.png");    
}
.ice-cream::before {
    background-image: url("../images/icon-ice-cream.png");    
}

.advantages__point {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44 / 36);
    letter-spacing: 0.04em;
    color: #FCFCFC;
    margin-bottom: 18px;
    margin-top: 16px;
}

.advantages__text {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(20 / 12);
    color: #FCFCFC;  
    padding-bottom: 28px; 
}