.footer__container {
    position: relative;
}

.footer__wrap {
    @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }
}

.footer__thumb {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 1167px;
        left: 0;
        border-top: 1px solid $clr-footer-border;
    }

    @include desktop {
        &::before {
            left: calc(33px / 2);
        }
    }
}

.footer__primary-text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    color: $clr-text-light;

    @include tablet {
        margin-bottom: 0px;
        font-size: 26px;
        line-height: calc(32 / 26);
        letter-spacing: 0.04em;
    }

    @include desktop {
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 30px;
        line-height: calc(37 / 30);
    }
}

.footer__secondary-text {
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $clr-text-light;

    @include tablet {
        font-size: 48px;
        line-height: calc(59 / 48);
        letter-spacing: 0.06em;
    }

    @include desktop {
        font-size: 58px;
        line-height: calc(71 / 58);
    }
}

.footer__title {
    max-width: 234px;
    margin-bottom: 60px;
    @include tablet {
        max-width: 352px;
        margin-bottom: 32px;
    }

    @include desktop {
        max-width: 100%;
        margin-bottom: 60px;
    }
}

.footer__social-media {
    margin-bottom: 40px;
    @include tablet {
        margin-bottom: 60px;
    }

    @include desktop {
        max-width: 100%;
    }
}

.footer__contact {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: $clr-text-dark;

    @include tablet {
        font-size: 14px;
        line-height: 1.86;
    }

    @include desktop {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer__tel {
    color: $clr-text-light;
}

.footer__copiright {
    padding: 20px 0;
    white-space: pre-line;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: $clr-footer-copiright;

    @include tablet {
        padding: 12px 0;
        white-space: normal;
        line-height: 1.86;
        letter-spacing: 0.02em;
    }

    @include desktop {
        font-size: 12px;
    };
}

.social-list {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    @include tablet {
        gap: 30px;
        margin-bottom: 34px;
    }

    @include desktop {
        margin-bottom: 40px;
    }
}

.social-list__item {
    width: 34px;
    height: 34px;
    background-color: $clr-accent;
    border-radius: 50%;
}

.social-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-background;
}

.social-list__img {
    fill: currentColor;
}