.footer__primary-text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;
    color: $clr-text-light;
}

.footer__secondary-text{
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $clr-text-light;
}

.footer__title,
.footer__social-media {
    margin-bottom: 60px;
}

.footer__contact {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: $clr-text-dark;
}

.footer_tel {
    color: $clr-text-light;
}

.footer__copiright {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: $clr-footer-copiright;
}

.social-list {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.social-list__item {
    width: 34px;
    height: 34px;
    background-color: $clr-accent;
    border-radius: 50%;
}

.social-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-background;
}

.social-list__img {
    fill: currentColor;
}