.gallery {

padding: 40px;

        background-image: url("../images/gallery-bg-mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        /*  Comment out this line  */
        background-attachment: fixed;
}

.container {}

.container__gallery {
    
}

.gallery__item {
        width: 280px;
        height: 130px;
    
        background: url(../images/slider-mobile-1x.jpg);
        border-radius: 8px;
        background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}

.box {
    height: 300px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}