*,
*::after,
*::before {
    box-sizing: border-box;
}

.gallery__slider {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.slider-wrap {
    position: relative;
    z-index: 10;
    top: 50px;
    margin: 0 auto;

    width: 280px;
    height: 130px;

    overflow: hidden;

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 327px;
    }

    @media screen and (min-width: 1200px) {
        width: 1013px;
        height: 422px;
    }
}

.slider {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    display: flex;
    animation: slider 14s infinite;
}

.slider img {
    float: left;
    border-radius: 24px;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
         }

    25% {
        left: -100%;
    }

    45% {
    left: -100%;
        }

        50% {
    left: -200%;
        }

          70% {
    left: -200%;
        }

        75% {
    left: -300%;
        }

         95% {
    left: -300%;
        }

         100% {
    left: -400%;
        }
}

