.gallery {

        background-image: url("../images/gallery-bg-mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        /*  Comment out this line  */
            background-attachment: fixed;
}

.container {}

.container__gallery {
    
}

.gallery__item {
        max-width: 100%;
        height: 130px;
        margin-left: auto;
        margin-right: auto;

        background: url(../images/slider-mobile-1x.jpg);
        border-radius: 8px;
        background-position: center;
        background-repeat: no-repeat;


}

// .box {
//     height: 300px;
//     width: 150px;
//     margin-left: auto;
//     margin-right: auto;
//     border-radius: 4px;
// }


.slider__item {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-top: 80px;
}

.wrapper {
    background-image: url("../images/gallery-bg-mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        /*  Comment out this line  */
        background-attachment: fixed;
}

.slider__photo {
    fill: none;
    background-color: transparent;
    background: transparent;
}

.slider__text {
    
    width: 280px;
    padding: 35px 39px;
    margin-bottom: 32px;
    margin-top: 32px;

    font-weight: 400;
        font-size: 12px;
        line-height: 2.58;    
        text-align: center;
    
        color: #FCFCFC;
        background: #84A178;
            border-radius: 10px;
}