.gallery {
  position: relative;
  padding-top: 0px;
  padding-bottom: 80px;

  @include tablet {
    padding-bottom: 100px;
  }
  @include desktop {
    padding-bottom: 140px;
  }
}

.gallery__background {
  position: absolute;
  top: 32px;
  width: 100%;
  height: 1037px;
  z-index: 0;
  background-image: url('../images/gallery-bg-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include pixel-ratio-x2 {
    background-image: url(../images/gallery-bg-mobile-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @include mobile {
    background-image: url(../images/gallery-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include pixel-ratio-x2 {
      background-image: url(../images/gallery-bg-tablet-2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }

  @include tablet {
    top: 144px;
    height: 1017px;
    background-image: url(../images/gallery-bg-desktop.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include pixel-ratio-x2 {
      background-image: url(../images/gallery-bg-desktop-2x.jpg);
      // max-width: 1600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
  @include desktop {
    top: 98px;
    height: 1053px;
  }
}

.gallery__slider {
  display: block;
  width: 100%;
}

.slider-wrap {
  position: relative;
  z-index: 10;
  margin: 0 auto;

  width: 280px;
  height: 130px;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    height: 422px;
  }
}

.slider {
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  display: flex;
  animation: slider 14s infinite;
}

.slider img {
  float: left;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
