.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-loc {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  min-height: 365px;
  background-color: $clr-text-light;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border: 2px solid $clr-accent;
  border-radius: 10px;
  padding: 28px;
  @include tablet {
    width: 568px;
    min-height: 458px;
    transform: translate(-50%, -35vh) scale(1);
    padding: 32px 60px;
  }
  @include tablet {
    transform: translate(-50%, -50%) scale(1);
  }
}
.backdrop.mod-loc-is-hidden .mod-loc {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-loc-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mod-loc-close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $clr-accent;
  }
}
.mod-loc-title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $clr-text-dark;
  text-align: center;
  margin-bottom: 20px;
  @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}
.mod-loc-img-tab {
  display: none;
}
.mod-loc-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
    .mod-loc-img-tab {
      display: block;
    }
    .mod-loc-img-mob {
      display: none;
    }
  }
}
.mod-loc-btn {
  width: 134px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  @include tablet {
    width: 145px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
