.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.modal-wrap.modal-read-more__backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrap.modal-read-more__backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 459px;
  padding: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: $clr-text-light;
  border: 2px solid $clr-accent;
  border-radius: 10px;
  transform: translate(-50%, -40vh);
  transition: transform 250ms ease;
  z-index: 888;

  @include tablet {
    width: 568px;
    height: 449px;
    padding: 32px 60px;
  }
}

.made__title {
  display: block;
  height: 140px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: calc(24 / 16);
  font-family: $ff-secondary;

  @include tablet {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  @include tablet {
    width: 24px;
    height: 24px;
  }
}

.modal__cross {
  fill: $clr-text-dark;
  transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__close:active & {
    fill: $clr-accent;
  }
  @include desktop {
    .modal__close:hover &,
    .modal__close:focus & {
      fill: $clr-accent;
    }
  }
}

.video {
  margin-bottom: 20px;
  background-color: $clr-text-dark;
  border-radius: 10px;

  @include tablet {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}

.modal__discription {
  width: 224px;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $clr-text-dark;

  @include tablet {
    width: 448px;
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}
