.modal-buy-now__backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);

    z-index: 3;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.modal-buy-now__backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-buy-now__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45vh);
    width: 280px;
    padding: 28px;

    border: 2px solid $clr-accent;
    border-radius: 10px;

    background-color: $clr-text-light;

    @media screen and (min-width: 768px) {
        width: 568px;
        padding: 32px 54px;
    }

    @media screen and (min-width: 1200px) {
        transform: translate(-50%, -50%);
    }
}

.modal-buy-now__button-clouse {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border: 0;

    cursor: pointer;

    fill: $clr-text-dark;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $clr-accent;
    }
}

.modal-buy-now__title {
    margin-bottom: 20px;

    text-align: center;
    font-family: $ff-secondary;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;

        font-size: 20px;
        line-height: 1.4;
    }
}

.modal-buy-now__radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 32px;

        margin-bottom: 40px;
    }
}

.modal-buy-now__radio-button {
    position: relative;
    width: 132px;
    height: 200px;
    margin: 0 auto;
}

.modal-buy-now__radio-button-input {
    display: none;
}

.modal-buy-now__radio-button-chekbox {
    width: 132px;
    height: 136px;
    margin-top: 63px;

    border-radius: 15px;
}

.modal-buy-now__radio-button-chekbox--green {
    border: 2px solid #96AF8C;
    background: transparent;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-now__radio-button-chekbox--yellow {
    border: 2px solid $clr-prod-ice-coffee;

    background: transparent;
    
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-now__radio-button-chekbox--brown {
    border: 2px solid #D6936D;

    background: transparent;
    
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-now__radio-button-input:checked+.modal-buy-now__radio-button-chekbox--green {
    background-color: #96AF8C;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.modal-buy-now__radio-button-input:checked + .modal-buy-now__radio-button-chekbox--yellow {
    background-color: $clr-prod-ice-coffee;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.modal-buy-now__radio-button-input:checked + .modal-buy-now__radio-button-chekbox--brown {
    background-color: #D6936D;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.modal-buy-now__radio-img {
    position: absolute;
    left: 0;
    top: 0;

    border-radius: 50%;

    z-index: 2;
}

.bg-circle {
    width: 132px;
    height: 132px;
    border-radius: 50%;

    position: absolute;
    top: 7px;
    left: 0;
}

.bg-circle--green {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.bg-circle--yellow {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.bg-circle--brown {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-buy-now__radio-button-title {
    margin-top: 96px;
    text-align: center;

    font-family: $ff-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $clr-text-dark;
}

.modal-buy-now__input-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
        gap: 16px;
        width: 368px;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
}

.modal-buy-now__input-field {
    position: relative;
}

.modal-buy-now__input-label {
    position: absolute;
    top: 0;
    left: 10;
    transform: translateY(65%);

    font-style: $ff-primary;
    font-size: 12px;
    line-height: 1.4;
    color: $clr-text-dark;
    
    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-now__input:not(:placeholder-shown) + .modal-buy-now__input-label,
.modal-buy-now__input:focus + .modal-buy-now__input-label {
    opacity: 0;
    transform: translateY(-65%)
}

.modal-buy-now__textarea:not(:placeholder-shown) + .modal-buy-now__input-label,
.modal-buy-now__textarea:focus + .modal-buy-now__input-label {
    opacity: 0;
    transform: translateY(-65%)
}

.modal-buy-now__input {
    width: 100%;
    height: 32px;
    padding: 8px 12px;

    border: 1px solid $clr-background;
    border-radius: 10px;

    background-color: rgba(248, 210, 78, 0.1);

    font-style: $ff-primary;
    font-size: 12px;
    line-height: 1.4;
    color: $clr-text-dark;

    outline: 0;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid $clr-accent;
        background-color: #fdf3ce;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
        border-color: rgb(255, 111, 111);
        background-color: rgba(255, 150, 150, 0.726);
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        height: 42px;
    }
}

.modal-buy-now__textarea {
    resize: none;
    width: 100%;
    height: 65px;
    padding: 8px 12px;

    border: 1px solid $clr-background;
    border-radius: 10px;

    background-color: rgba(248, 210, 78, 0.1);

    outline: 0;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            border: 1px solid $clr-accent;
            background-color: #fdf3ce;;
        }

    @media screen and (min-width: 768px) {
        height: 84px;
    }
}

.modal-buy-now__textarea::placeholder {
    font-style: $ff-primary;
    font-size: 12px;
    line-height: 1.4;
    color: $clr-text-dark;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

.modal-buy-now__submit-btn {
    display: block;
    margin: 0 auto;
    
    cursor: pointer;
}