/***-----------------Модалка----------*/
.backdrop-franchase {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 13;

  width: 100%;
  height: 100%;

  opacity: 1;
  overflow: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-franchise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45vh);
  padding: 28px;
  width: 280px;
  background: $clr-text-light;
  border: 2px solid $clr-accent;
  border-radius: 10px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 568px;
    padding: 32px 60px;
    text-align: center;
  }
}

.button-modal-fra-close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 0;

  cursor: pointer;

  fill: $clr-text-dark;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $clr-accent;
  }
}

.modal-fra-icon {
  width: 100%;
  height: 100%;
}

.modal-fra-title {
  margin-bottom: 20px;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $clr-text-dark;

  @include tablet {
    margin-bottom: 24px;
    padding-left: 62px;
    padding-right: 62px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal-fra-text {
  font-family: $ff-primary;
  margin-bottom: 24px;
  font-family: $ff-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: $clr-text-dark;

  @include tablet {
    margin-bottom: 32px;
    text-align: left;
    font-size: 16px;
    line-height: 1.37;
  }
}

// ФОРМА

.modal-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 24px;

  @include tablet {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.input-wrapper {
  position: relative;
  margin: 0 auto;
  @include tablet {
    width: 368px;
  }
}

.modal-label {
  position: absolute;
  top: 0;
  left: 12;

  font-family: $ff-primary;
  font-size: 12px;
  line-height: calc(17 / 12);

  transform: translateY(50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    left: 14;
    font-size: 14px;
    line-height: calc(20 / 14);
    transform: translateY(40%);
  }
}

.modal-input {
  width: 224px;
  height: 32px;
  padding-left: 12px;
  cursor: pointer;

  font-family: $ff-primary;
  font-size: 12px;
  line-height: 1.41;
  color: $clr-text-dark;

  border: 1px solid $clr-background;
  border-radius: 10px;

  outline: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $clr-accent;
    background-color: #fdf3ce;
  }

  &:not(:placeholder-shown):invalid {
    border-color: rgb(255, 111, 111);
    background-color: rgba(255, 150, 150, 0.726);
  }

  &::placeholder {
    color: transparent;
  }

  @include tablet {
    width: 368px;
    height: 32px;
    font-size: 14px;
  }
}

.modal-input:not(:placeholder-shown) + .modal-label,
.modal-input:focus + .modal-label {
  opacity: 0;
  transform: translateY(-65%);
}

.text-area:not(:placeholder-shown) + .modal-label,
.text-area:focus + .modal-label {
  opacity: 0;
  transform: translateY(-65%);
}

.text-area {
  width: 224px;
  height: 64px;
  padding-top: 10px;
  padding-left: 12px;

  font-family: $ff-primary;
  font-size: 12px;
  line-height: 1.41;
  color: $clr-text-dark;

  border: 1px solid $clr-background;
  border-radius: 10px;
  resize: none;

  outline: 0;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    border: 1px solid $clr-accent;
    background-color: #fdf3ce;
  }

  @include tablet {
    width: 368px;
    height: 84px;
    font-size: 14px;
  }
}

.button-primary {
  display: block;
  margin: 0 auto;
  width: 114px;
  height: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $clr-text-dark;
  @include tablet {
    width: 121px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
