
// MODAL with info about PRODUCT !!!!!

.backdrop-about-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
}


.modal-about-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px 20px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    max-width: 280px;

    
}

.about-product_title{
font-family: $ff-secondary;
 font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28px/20px);
    display: flex;
    align-items: center;
    text-align: center;

    color: $clr-text-dark;

    margin-bottom: 20px;
}
.ingredients{
  margin-bottom: 40px;
}
.ingredients_title{
  font-family: $ff-primary ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28px/20px);
   
    display: flex;
    align-items: center;
    text-align: center;
  
    color: $clr-text-dark ;

    margin-bottom: 24px;
    justify-content: center;
}





.ingredients_item{
font-family: $ff-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: $clr-text-dark;



  margin-bottom: 20px;
}


.ingredients_text{

  
    display: flex;
    width: 100%;
}


.about-product_form{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.about-product_form-field{
  position: relative;
  width: 100%;
}

.about-product__input{
    height: 42px;
    width: 100%;

    background: rgba(248, 210, 78, 0.1);
      border: 1px solid $clr-background;
      border-radius: 10px;

      padding-left: 12px;


 
}

.about-product__label{
  position: absolute;
    top: 0;
    left: 10.43px;
    transform: translateY(50%);


      font-family: $ff-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(20px/14px);
        color: $clr-text-dark;
}

.about-product__textarea{
  background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    width: 100%;
    height: 84px;
}